:root {
    --white: #fff;
    --translucent-white: #d7ccc0;
    --light-coloured: #f5f4f0;
    --basic: #fe8a02;
    --basic-slightly-dark: #ea7600;
    --basic-dark: #42413c;
    --dark: #2a2626;
    --dark-translucent: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

@font-face {
    font-weight: 400;
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "Neucha";
    src: url("../assets/fonts/Neucha-Regular.ttf");
}

/* Positioning properties*/

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.video {
    left: 96px;
}

body {
    margin: 0;
}

main {
    margin: 0 auto;
}

section[class*="section"] {
    padding: 100px 165px;
}

img {
    margin-right: 165px;
}

h1,
h2,
h3 {
    margin: 0;
}

.header-title {
    margin-bottom: 185px;
}

.link-more {
    padding: 12px 24px;
}

#navigation {
    padding-top: 200px;
}

.navigation-section {
    padding-bottom: 0px;
}

.card {
    padding: 24px;
}

.block-title,
.card {
    margin-bottom: 20px;
}

.card:nth-child(1n+4) {
    margin-bottom: 0px;
    height: 348px;
}

.card > h1 {
    margin-bottom: 40px;
}

.m-right-30 {
    margin-right: 30px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-bottom-40 {
    margin-bottom: 40px;
}

.text-align {
    text-align: center;
}

/* Box-model properties*/

.header-section {
    box-sizing: border-box;

    overflow: hidden;
}

section::before,
section::after {
    position: absolute;
    top: 0;
    left: 0;
    
    background-repeat: no-repeat;
    background-size: cover;
}

.header-section {
    width: 1440px;
    height: auto;
}

header,
section::before,
section::after {
    width: 100%;
    height: 100%;
}

section::before {
    background-image: url("../assets/images/background.png");
    z-index: -2;
    
    opacity: 10%;
    
    content: '';
}

section::after {
    background-color: var(--light-coloured);
    z-index: -3;
    
    opacity: 100%;
    
    content: '';
}

.no-background::before,
.no-background::after {
    width: 0;
    height: 0;
    
    background-image: none;
}

img {
    position: absolute;
    top: 55px;
    right: -270px;

    width: 1082.81px;
    height: 525px;

    z-index: -1;
}

.video-section {
    height: 600px;
}

.block-video {
    width: 1110px;
    height: 569px;
}

.d-flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-sb{
    justify-content: space-between;
}

.w-1440 {
    width: 1440px;
}

.block-text > section {
    width: 50%;
}

.link-more {
    display: block;
    box-sizing: border-box;
    width: 148px;
    height: 49px;
}

.block-title,
.card {
    display: block;
    box-sizing: border-box;
    width: 350px;
    height: 323px;
}

.navigation-section {
    height: 691px;
}

/* Typography properties*/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

h1,
h2,
h3 {
    font-weight: 400;
    font-family: "Neucha", sans-serif;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.link-more {
    font-weight: 700;
    
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.block-title > h2 {
    font-size: 52px;
}

.card > h1 {
    font: 64px/1 "Neucha";
    font-weight: bold;
}

/* Color properties */

.c-dark {
    color: var(--dark);
}

.c-white {
    color: var(--white);
}

.c-basic {
    color: var(--basic);
}

.bg-color-basic {
    background-color: var(--basic);
}

.link-more:hover {
    background-color: var(--basic-slightly-dark);
}

.bg-basic-dark {
    background-color: var(--basic-dark);
}

.card {
    background-color: var(--light-coloured);
}

.card > h1 {
    color: var(--basic-dark);
}

.card > h3 {
    color: var(--basic);
}

.card > p {
    color: var(--dark);
}

.card:hover {
    background-color: var(--basic);
}

.card:hover > * {
    color: var(--white);
}

/* Other properties */

.filter {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}